@import "../../theme/index";

.t4e-text-editor {
  width: 100%;


  .editor-label {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 12px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
    margin-left: 12px;
    margin-bottom: 6px;
  }

  .rdw-editor-toolbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 5px;
  }

  .t4e-editor-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 5px;
  }

  .t4e-editor {

    //border: 1px solid rgba(0, 0, 0, 0.23);
    min-height: 250px;
    padding: 0 14px;
  }


  .DraftEditor-editorContainer {
    @include bodyTextFormatting();
  }
}
